<% if obj&.errors&.any? %>
  <%= tag.div class: "uk-alert-danger", 'uk-alert': '', dir: 'rtl' do %>
    <a class="uk-alert-close" uk-close></a>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% flash.each do |name, msg| %>
  <%= tag.div class: "uk-alert-#{name.to_sym == :error ? 'danger' : 'success'}", 'uk-alert': '', dir: 'rtl' do %>
    <a class="uk-alert-close" uk-close></a>
    <p><%= msg %></p>
  <% end %>
<% end %>
