<%# <button class="uk-button uk-button-default" type="button"><%= t('language') %1></button> %>
<a href="#"><%= t('language') %></a>
<div class="uk-navbar-dropdown" uk-dropdown='offset: 0'>
  <ul class="uk-nav uk-navbar-dropdown-nav">
    <li>
      <%= link_to 'عربي', change_locale_path(locale: 'ar'), method: :post, remote: true, class: 'locale-btn' %>
    </li>
    <li>
      <%= link_to 'English', change_locale_path(locale: 'en'), method: :post, remote: true, class: 'locale-btn' %>
    </li>
  </ul>
</div>
