<a href="#"><%= t('settings') %></a>
<div class="uk-navbar-dropdown">
  <ul class="uk-nav uk-navbar-dropdown-nav">
    <li><%= link_to t('profile'), edit_user_path %></li>
    <li><%= link_to t('phone'), edit_user_phone_number_path %></li>
  </ul>
</div>
